*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}


:root{
    
    --var--white1: #FFFFFF;

    --var--blue1: #000040;
    --var--blue2: #020272;

    --var--verde1:#13D099;
}

footer{
    background-color: var(--var--blue1);
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer > img{
    width: 8rem;
}

.footerNav > li > a{
    color: var(--var--white1);
}

.socialMedias > a > img {
    width: 8rem;
}


@media screen and (max-width: 1100px){
    
    footer{
        padding: 3rem;
        gap: 3rem;
        flex-direction: column;

    }

    .footerNav > li{
        display: block;
    }

}