*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}


:root{
    
    --var--white1: #FFFFFF;
    --var--white2: #d1d1d1;

    --var--gray1: #677580;

    --var--blue1: #000040;
    --var--blue2: #020272;

    --var--verde1:#13D099;

    --var--black1:#000000;
}

 

/* -----------------------------------Welcome----------------------------------- */

.welcome{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

    background-image: url(../assets/images/bg1.png);
    background-repeat: no-repeat;
    background-size:cover;
    
}


.containerWelcome{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: var(--var--white1);
    gap: 2rem;
    padding-bottom: 10rem;
    padding-left: 10rem;
}

.pWelcome{
    font-size: 2.5rem;
    font-weight: 200;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.81);
}

.containerWelcome > h1{
    font-size: 5rem;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.81);
}

.buttonKnowMore > div{
    font-size: 3rem;
    color: var(--var--black1);
    background-color: var(--var--white1);
    text-shadow: 2px 2px 7px rgba(0,0,0,0.81);

    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;

    transition: all ease 0.5s;
}

.buttonKnowMore > div:hover{
    background-color: var(--var--verde1);
    color: var(--var--white1);
    text-shadow: 2px 2px 7px rgba(0,0,0,0.81);
}

.arrow{
    text-align: center;
}

.buttonKnowMore > p{
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 2rem;
    font-weight: 900;
    cursor: pointer;
}

.divPRight{
    align-self: flex-end;
    padding-right: 10rem;
    padding-bottom: 20rem;
}

.pAlignRight{
    font-size: 2.5rem;
    font-weight: 200;
    align-self: flex-end;
    color: var(--var--white1);
    font-weight: 200;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.81);
}



/* ----------------------------------- Forum ----------------------------------- */


.forum{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 5rem;
}

.forum > h3{
    font-size: 2.5rem;
    color: var(--var--blue1);
    font-weight: 900;
    text-align: center;
}

.forum > h2{
    font-size: 4rem;
    color: var(--var--blue1);
    font-weight: 900;
    text-align: center;
}

h2 > span{
    font-size: 4rem;
    color: var(--var--verde1);
    font-weight: 900;
}

.government{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.leftGov{
    font-size: 2.5rem;
    color: var(--var--blue1);
    text-align: start;
}

.leftGov > span{
    font-size: 2.5rem;
    font-weight: 900;
}

.imageGov {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.imageGov >  img{
    width: 20rem;
}

.rigthGov{
    font-size: 2.5rem;
    color: var(--var--blue1);
    text-align: end;
}


/* ----------------------------------- Objective ----------------------------------- */

.objective1{
    background-image: url(../assets/images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.obj1 > h2{
    color: var(--var--white1);
    font-size: 5rem;
    font-weight: 900;
    margin-top: 10rem;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.81);
}

.buttonKnowMore > p{
    color: var(--var--white1);
    text-shadow: 2px 2px 7px rgba(0,0,0,0.81);
}

.obj2 > p{
    color: var(--var--white1);
    font-size: 2rem;
    font-weight: 200;
    margin-top: 5rem;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.81);
}

.objective2{
    background-image: url(../assets/images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* ----------------------------------- Business Entities ----------------------------------- */

.businessEntities{
    width: 100%;
    height: 100%;
    background-color: var(--var--blue1);
}

.containerBusiness{
    width: 100%;
    margin: auto;
    padding: 10rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}

.containerBusiness > p{
    color: var(--var--white1);
    font-size: 2rem;
    font-weight: 50;
}

.containerBusiness > h2{
    color: var(--var--white1);
    font-size: 4.5rem;
    font-weight: 200;
}

.containerBusiness > h2 > span{
    color: var(--var--white1);
    font-size: 4.5rem;
    font-weight: 900;
}

.companysImg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.companysImg > img{
    width: 15rem;
}



/* ----------------------------------- News ----------------------------------- */

.news{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.newsHead{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsHead > h2{
    display: inline-block;
    font-size: 2.5rem;
    color: var(--var--blue1);
}

.newsHead > button{
    color: var(--var--verde1);
    background-color: var(--var--white1);
    border-radius: 5rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: 0.2rem solid var(--var--blue1);
    font-weight: 900;

    transition: all ease 0.5s;
}

.newsHead > button:hover{
    color: var(--var--white1);
    background-color: var(--var--verde1);
    border: 0.2rem solid var(--var--verde1);
}

.newsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5rem;
    box-sizing: border-box;
}

.newsContant{
    cursor: pointer;
}

.newsContant > img{
    width: 35rem;
}

.newsP{
    color: var(--var--gray1);
    font-size: 2rem;
    display: inline-block;

}

.newsP > span{
    color: var(--var--verde1);
    font-size: 2rem;
    display: inline-block;
    margin-left: 1rem;
}

.newsContant > h3 {
    color: var(--var--blue1);
    font-size: 2.5rem;
    font-weight: 900;
}


/* ----------------------------------- Contact ----------------------------------- */

.contact{
    background-image: url(../assets/images/bg7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.containerContact{
    width: 100%;
    height: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.containerContact > p{
    font-size: 2rem;
    font-weight: 200;
    color: var(--var--white1);
    text-shadow: 2px 2px 7px rgba(0,0,0,0.81);
}

.containerContact > h2{
    font-size: 4rem;
    color: var(--var--white1);
    line-height: 5rem;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.81);
    font-weight: 200;
}

.containerContact > h2 > span{
    font-size: 4rem;
    color: var(--var--white1);
    border-bottom: 0.5rem solid var(--var--white1);
    padding-bottom: 0.1rem;
    text-shadow: 2px 2px 7px rgba(0,0,0,0.81);
    cursor: pointer;
}
